@page
@model WebApplication1.Pages.Boats.CreateModel
@{
    
    <h2>Opret ny båd</h2>

    <form method="post">
        <div class="form-group">
            <label>Navn</label>
            <input asp-for="Boat.Name" class="form-control" />
        </div>

        <div class="form-group">
            <label>Type</label>
            <input asp-for="Boat.BoatTypeId" class="form-control" />
        </div>

        <div class="form-group">
            <label>Kapacitet</label>
            <input asp-for="Boat.Capacity" type="number" class="form-control" />
        </div>

        <div class="form-group">
            <label>Årgang</label>
            <input asp-for="Boat.YearBuilt" type="number" class="form-control" />
        </div>

        <button class="btn btn-success mt-2">Gem</button>
    </form>
}
