@page
@model WebApplication1.Pages.Medlemmer.IndexModel

<h2>Medlemsoversigt</h2>

<a class="btn btn-primary" href="/Medlemmer/Create">Opret medlem</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Email</th>
            <th>Telefon</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model.Members)
        {
            <tr>
                <td>@m.FirstName @m.LastName</td>
                <td>@m.Email</td>
                <td>@m.Phone</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="/Medlemmer/Edit?id=@m.Id">Rediger</a>
                    <a class="btn btn-danger btn-sm" href="/Medlemmer/Delete?id=@m.Id">Slet</a>
                </td>
            </tr>
        }
    </tbody>
</table>
